@model ScruffyNerfHerderSabers.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>Lightsaber Name</th>
                    <th>Price</th>
                    <th>Color</th>
                    <th>Hilt</th>
                    <th>Hand</th>
                </tr>
                @foreach (var item in Model.Transaction)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Hilt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Hand)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
